<!DOCTYPE html>
<html lang="en">
    <head>

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Bhai&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <title>Burger Devour Menu</title>
    </head>

    <body>
        <img src="/assets/img/burger.jpg" width="400px" id="burger">

        {{ body}}

        <footer class="boogerFooter">
            <div class="footer-copyright">
                <div class="container">
                    <span class="grey-text text-lighten-4">© 2019 Maris-Angelique</span>
                    <a class="grey-text text-lighten-4 right" href="https://github.com/marisangelique">Reference Work</a>
                </div>
            </div>

        </footer>
    </body>
</html>